/* UNIVERSAL STYLING */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "League Spartan", sans-serif;

    scrollbar-width: thin;
    scrollbar-color: #454555 #3465dc;

    --primary-blue: #3465dc;
    --primary-blue-dark: #2a4db0;
    --primary-grey: #454555;
}

/*html::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

body{
    width: 100%;
    height: 100%;
}

h1{
    font-size: 105px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 38px;
}

a{
    color: var(--primary-blue);
}

/* UNIVERSAL STYLING END */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;

    background-color: var(--primary-blue);
}

.logo-container{
    width: 150px;
    height: auto;
}

.logo-container > img{
    width: 100%;
}

.header-item.hamburger-nav{
    display: none;

    width: 35px;
    height: 100%;
}

.header-item{
    cursor: pointer;
}

.hamburger-icon > svg{
    fill: rgba(255,255,255,0.85);
}

.hamburger-nav-off-canvas{
    display: none;
}

.hamburger-nav-off-canvas.--active{
    position: fixed;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 2.5rem;
    background-color: #6a11cb;

    height: 100%;
    width: 50%;
    top: 0;
    right: 0;

    cursor: initial;
}

.hamburger-nav-off-canvas.--active > .hamburger-icon.off-canvas{
    width: 35px;
    cursor: pointer;
}

.header-item.nav-container .menu-nav-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;

    background-color: white;
    border-radius: 30px;

    padding: 1rem 2.6rem;
}

.btn{
    background-color: white;
    border-radius: 30px;
    font-size: 18px;

    padding: 1rem 2.6rem;
}

/* main */
.banner-container{
    width: 100%;
    padding: 2rem 0 4rem 0;
    background-color: var(--primary-blue);
}

.banner-inner{
    display: flex;
    justify-content: center;

    padding: 0 11rem;

    gap: 4rem;
}

.banner-header{
    display: flex;
    justify-content: flex-start;

    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/

    background-color: var(--primary-blue);
    border-radius: 20px;
    width: 50%;

    overflow: hidden;
}

.banner-header-inner{
    width: max-content;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-image{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}

.banner-image-inner{
    display: flex;
    justify-content: flex-end;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    background-color: var(--primary-grey);
    border-radius: 20px;

    overflow: hidden;

    border: 5px solid white;

    width: max-content;
}

.banner-image-inner > img{
    width: auto;
}

.main-fullname-container{
    display: flex;
    flex-direction: column;

    line-height: 1;
}

.main-header-name,
.main-header-surname{
    color: white;
}

.main-stack-container > h3{
    color: rgba(255,255,255,0.7);
}

.btn-container{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 1rem;
}

.cta-btn-secondary{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.contact-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 3rem;
}

.email-container,
.phone-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.5rem;

    font-size: 20px;
    color: white;
}

.email-container > svg{
    fill: white;
    width: 40px;
}

.phone-container > svg{
    width: 40px;
    stroke: white;
    stroke-width: 1.5;
}

/* tech slider section */
.tech-slider-container {
    display: flex;
    width: 100%;
    overflow: hidden;

    background-color: var(--primary-blue-dark);
}

.box-container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 10rem;
    animation: slide 20s infinite linear;

    width: 100%;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 8rem;

    border-right: 6px solid rgba(255,255,255,0.2);
}

.box > img{
    height: 75%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* tech slider section end*/
/* about section */

.about{
    padding: 3rem 40rem;
    background-color: whitesmoke;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-header{
    color: var(--primary-blue);

    width: 100%;
    padding-bottom: 1rem;
}

.about-text-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.about-paragraph{
    font-size: 1.15rem;
    line-height: 150%;
    color: #4b5563;
}

.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    padding-top: 3rem;
}

.cards-container > .card{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem 1.8rem;

    border: 2px solid var(--primary-blue);
    border-radius: 10px;

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.cards-container > .card:hover{
    background-color: rgba(196, 218, 253, 0.25);
}

.card-inner.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-blue);
    color: whitesmoke;

    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.card-inner.header > img{
    transition: transform 0.2s ease-in-out;
}

.card:hover > .card-inner.header > img{
    transform: scale(1.1);
}

.card-inner.paragraph{
    line-height: 150%;
    color: #4b5563;
}

/* about section end*/

/* responsiveness (to be refactored) */

