/* UNIVERSAL STYLING */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "League Spartan", sans-serif;

    scrollbar-width: thin;
    scrollbar-color: #454555 #3465dc;
}

/*html::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

body{
    width: 100%;
    height: 100%;
}

h1{
    font-size: 105px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 38px;
}

a{
    color: #3465dc;
}

/* UNIVERSAL STYLING END */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;

    background-color: #3465dc;
}

.logo-container{
    width: 150px;
    height: auto;
}

.logo-container > img{
    width: 100%;
}

.header-item.hamburger-nav{
    display: none;

    width: 35px;
    height: 100%;
}

.header-item{
    cursor: pointer;
}

.hamburger-icon > svg{
    fill: rgba(255,255,255,0.85);
}

.hamburger-nav-off-canvas{
    display: none;
}

.hamburger-nav-off-canvas.--active{
    position: fixed;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 2.5rem;
    background-color: #6a11cb;

    height: 100%;
    width: 50%;
    top: 0;
    right: 0;

    cursor: initial;
}

.hamburger-nav-off-canvas.--active > .hamburger-icon.off-canvas{
    width: 35px;
    cursor: pointer;
}

.header-item.nav-container .menu-nav-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;

    background-color: white;
    border-radius: 30px;

    padding: 1rem 2.6rem;
}

.btn{
    background-color: white;
    border-radius: 30px;

    padding: 1rem 2.6rem;
}

/* main */
.banner-container{
    width: 100%;
    padding: 2rem 0 4rem 0;
    background-color: #3465dc;
}

.banner-inner{
    display: flex;
    justify-content: center;

    padding: 0 11rem;

    gap: 2rem;
}

.banner-header{
    display: flex;
    justify-content: center;

    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/

    background-color: #3465dc;
    border-radius: 20px;
    width: 50%;

    overflow: hidden;
}

.banner-header-inner{
    width: max-content;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-image{
    display: flex;
    width: 50%;
}

.banner-image-inner{
    display: flex;
    justify-content: flex-end;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    background-color: #454555;
    border-radius: 20px;
    padding-top: 1.5rem;

    overflow: hidden;

    border: 5px solid white;

    width: 100%;
}

.banner-image-inner > img{
    width: auto;
}

.main-fullname-container{
    display: flex;
    flex-direction: column;

    line-height: 1;
}

.main-header-name,
.main-header-surname,
.main-stack-container > h3{
    color: white;
}

.right-btn-container{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 1rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 3rem;
}

.email-container,
.phone-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.5rem;

    font-size: 20px;
    color: white;
}

.email-container > svg{
    fill: white;
    width: 40px;
}

.phone-container > svg{
    width: 40px;
    stroke: white;
    stroke-width: 1.5;
}

/* tech slider section */
.tech-slider-container {
    display: flex;
    width: 100%;
    overflow: hidden;

    background-color: rgb(42, 77, 176);
}

.box-container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 10rem;
    animation: slide 20s infinite linear;

    width: 100%;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 8rem;

    border-right: 6px solid rgba(255,255,255,0.2);
}

.box > img{
    height: 75%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* tech slider section end*/
/* about section */

.about-container{
    width: 100%;
    height: 500px;

    background-color: #3465dc;
}

/* about section end*/

/* responsiveness */

@media screen and (max-width: 1146px) {
    .main-container{
        position: relative;
        z-index: 2;

        background-image: url("../images/main-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
    }

    .main-container::before{
        position: absolute;
        z-index: 0;

        top: 0;
        left: 0;

        content: '';

        width: 100%;
        height: 100%;

        background-color: black;
        opacity: 0.25;
    }

    .main.left-outer{
        display: none;
    }

    .main.right-outer{
        position: absolute;
        justify-content: flex-start;
        width: 100%;
    }

    .main-container .right-outer::before {
        display: none;
    }

    .main.right-inner{
        padding-left: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .main.right-inner{
        padding-left: 2rem;
    }

    .header-item.linked-in,
    .header-item.nav-container .menu-nav-list{
        display: none;
    }

    .header-item.hamburger-nav {
        display: block;
    }

    .main-header-name,
    .main-header-surname{
        font-size: 80px;
    }
}

@media screen and (max-width: 582px) {
    .main.right-inner{
        padding-left: 0;
        align-items: center;
    }
    .main.right-outer{
        justify-content: center;
    }

    .main-fullname-container{
        align-items: center;
    }

    .btn{
        background-color: rgba(255,255,255,0.4);
        padding: 1rem 2rem;
    }

    .main-header-name,
    .main-header-surname{
        font-size: 60px;
    }

    .main-stack-container > h3{
        font-size: 27px;
    }

    .card-container-header{
        font-size: 50px;
    }
}

@media screen and (max-width: 422px){
    .main-container{
        background-size: cover;
    }

    .main-header-name,
    .main-header-surname{
        font-size: 44px;
    }

    .main-stack-container > h3{
        font-size: 20px;
    }

    .btn{
        background-color: rgba(255,255,255,0.4);
        padding: 1rem 1.6rem;
    }
}